{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Tasks</h2>
      <ul class="list-group mb-4">
        {% if view_model.to_do_items|length > 0 %}
          {% with items=view_model.to_do_items, title='To Do Items' %}
            {% include "partials/tableOfItems.html" %}
          {% endwith %}
        {% endif %}
        {% if view_model.in_progress_items|length > 0 %}
          {% with items=view_model.in_progress_items, title='In Progress Items' %}
            {% include "partials/tableOfItems.html" %}
          {% endwith %}
        {% endif %}
        {% if view_model.completed_items|length > 0 %}
          {% with items=view_model.completed_items, title='Completed Items' %}
            {% include "partials/tableOfItems.html" %}
          {% endwith %}
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Add a new task:</h2>
      <form method="post" action="{{ url_for('addItem') }}">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <button type="submit">Add task</button>
      </form>
    </div>
  </div>
{% endblock %}